body{
  background: #4a4444;
}
.hero{
    margin: 0;
    padding: 170px 0 0;
    height: 10vh;
    background-color: #4a4444;
    background-position: center;
    text-align: center;
}
.hero h1{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    /* font-size: 4rem; */
    text-transform: capitalize;
}

.container-fluid{
    background: #4a4444;
    color: white;
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.py-5{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.section-title-1{
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
}

.section-title {
    position: relative;
    padding: 115px 0 35px 0;
    text-align: center;
}
  
  .section-title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: 1px;
    background: #DA9F5B;
}

  .text-primary {
    color: #DA9F5B !important;
}
  
  a.text-primary:hover, a.text-primary:focus {
    color: #be792b !important;
}

  .text-uppercase {
    text-transform: uppercase !important;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
  
@media (max-width: 1200px) {
    .display-4 {
      font-size: calc(1.475rem + 2.7vw) ;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.irc-comp-img{
  width: 80%;
  margin: 10px 10%;
}
