@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

#home {
    background: url("../img/mars_image.png") no-repeat center;
    background-size: cover;
    padding: 350px 0px 350px 0px;
}

#aboutUs {
    background: url("../img/mars_rover_about_us.png") no-repeat center;
    background-size: cover;
    padding: 50px 0px 50px 0px;
}

#elec_soft {
    background: url("../img/elec_soft_home.png") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
}

#mechanical {
    background: url("../img/mech_home.png") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
}

#bioscience {
    background: url("../img/bio_home.png") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
}

#mdm {
    background: url("../img/mdm_home.png") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
}

#contact_home {
    background: url("../img/space.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact_home h2 {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    color: white;
}

.bg-image {
    width: 100%;
}

.div-centered-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intro-text {
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
}

.home-intro-text h2 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
}

.aboutUs-text {
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    width: 45%;
    padding: 63px 0px 0px 99px;
}

.aboutUs-text h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
}

.sub-home-text {
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    width: 75%;
    padding: 73px 0px 0px 99px;
    margin-bottom: 30px;
}

.sub-home-text h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 61px;
}

@media screen and (max-width: 992px) {
    #home{
        padding: 150px 0px 150px 0px;
    }

    .home-intro-text {

        font-weight: 400;
        font-size: 25px;
        line-height: 28px;
        width: 85%;
    }
    
    .home-intro-text h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: 31px;
    }

    .aboutUs-text {
        width: 80% !important;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        padding: 43px 0px 0px 49px;
    }

    .aboutUs-text h2 {
        font-weight: 600;
        font-size: 25px;
        line-height: 21px;
    }
    
    .sub-home-text {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        width: 95%;
        padding: 43px 0px 0px 49px;
    }
    
    .sub-home-text h2 {
        font-weight: 500;
        font-size: 25px;
        line-height: 21px;
    }
}