@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

#rovers {
  background: url("../img/space.png");
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#rovers h1 {
  color: white;
  margin-top: 30px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
}

.roverList {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}

.roverButton {
  width: 170px;
  height: 47px;
  border-radius: 10px;
  border: none;
  background-color: #161616;
  color: white;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
}

.activeButton {
  background-color: #6C6C6C;
}

.roverCard {
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  /* height: 501px; */
  margin-bottom: 30px;
  width: 75%;
  margin-top: 50px;
  display: flex;
}

.roverCardImg {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* width: 50%; */
  padding: 49px 0px 20px 26px;
}

.roverCardImg p {
  color: white;
  margin-top: 10px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
}

.roverCardImg img {
  /* height: 349px; */
  width: 100%;
  border-radius: 3px;
}

.roverCardDis {
  /* width: 50%; */
  color: white;
  padding: 49px 26px 20px 25px;
  text-align: center;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
}

@media screen and (max-width: 992px) {
  .roverCardImg {
    padding: 26px 0px 10px 0px;
  }

  .roverCardImg p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
  }

  .roverCardDis {
    padding: 0px 26px 20px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
  }
}