@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

#subdivisions {
    background: url("../img/space_sym.png");
    background-repeat: repeat-y;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#subdivisions h1 {
    color: white;
    margin-top: 30px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
}


.teamCard {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    /* height: 346px; */
    width: 75%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24.25px 65px 60px 65px;
}

.teamCard h2 {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    color: white;
}

.teamCardMembers {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.memberCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.memberCard img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.memberCard h3 {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
}

.memberSocials a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
  }